
<!-- <button mat-button color="primary">Sample Button</button> -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-7">
            <mat-toolbar-row>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">people</mat-icon>
                &nbsp; <span style="font-size: large;">Users</span>
              </mat-toolbar-row>
        </div>
        <div class="col-md-5">
            <mat-form-field class="col-md-8">
                <input matInput (keyup)="filterUsers($event.target.value)" placeholder="Search">
            </mat-form-field>
            
            <button mat-raised-button (click)="openUserDialog(newEmptyUser)" color="primary" style="background-color: #FBB03A;">
                <span inline="true" class="material-icons">
                    person_add_alt_1
                </span> Add User
            </button>

        </div>
    </div>

    <table mat-table [dataSource]="usersDataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>NAME</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="EmailID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>EMAIL ID</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.EmailID}} </td>
        </ng-container>
    
        <ng-container matColumnDef="IsAdmin">
            <th mat-header-cell *matHeaderCellDef> <b>ROLE TYPE</b> </th>
            <td mat-cell *matCellDef="let element"> {{ (element.IsAdmin) ? 'Admin' : 'Customer Executive' }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> <b>STATUS</b> </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon inline="true" id="status-icon" [ngClass]="{'Active':'green-icon','Pending':'yellow-icon','Inactive':'red-icon'}[element.Status]">stop_circle</mat-icon> {{ element.Status}}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="openUserDialog(element)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="confirmDeleteDialog(element.UserID)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>

    <!-- Pagination Area -->
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
